[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=5.1"
gunicorn = "*"
django-bootstrap-icons = "*"
django-tz-detect = "*"
crispy-bootstrap5 = "*"
django-crispy-forms = "*"
folium = "*"
geopy = "*"
icecream = "*"

[dev-packages]

[requires]
python_version = "3.12"
