{% load markdown_tags %}
{% load actionlog_tags %}
{% load bootstrap_icons %}

<tr data-log-id="{{ log.pk }}" data-timestamp="{{ log.created_at.isoformat }}"
    class="{% if log.log_type == 'user' or log.log_type == 'location' %}table-warning
           {% elif log.log_type == 'system' %}table-light
           {% endif %}">
    <td class="col-auto text-nowrap">
        {{ log.created_at|date:"Y-m-d" }}<br>
        {{ log.created_at|date:"H:i:s" }}
    </td>
    <td class="col-auto">{{ log.created_by.username|default:"System" }}</td>
    <td class="col-auto text-nowrap">{{ log.get_log_type_display }}</td>
    <td class="col">
        <div class="text-break">
            <strong>{{ log.event_name }}</strong>
            {% if log.text_markdown %}
                {{ log.event_text|markdownify|safe }}
            {% else %}
                <pre class="mb-0 font-sans-serif text-wrap">{{ log.event_text }}</pre>
            {% endif %}

            {% if log.note %}
                <div class="mt-2">
                    <div class="d-flex align-items-center">
                        <strong class="me-2">Note:</strong>
                        {% if log.note_markdown %}
                            <span class="badge bg-primary">Markdown</span>
                        {% endif %}
                    </div>
                    <div class="card bg-light mt-1">
                        <div class="card-body p-2">
                            {% if log.note_markdown %}
                                {{ log.note|markdownify|safe }}
                            {% else %}
                                <pre class="mb-0 bg-light border rounded p-1 text-wrap">{{ log.note }}</pre>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="d-flex justify-content-between align-items-center mt-2">
                <small class="text-muted me-auto">Agent: {{ log.agent_name }}</small>
                {% if request.user == log.created_by and log.created_at|is_recent and log.note %}
                    <button class="btn btn-sm btn-outline-secondary"
                            hx-get="{% url 'get_action_log_edit_form' field_op=log.aid_request.field_op.slug aid_request_pk=log.aid_request.pk pk=log.pk %}"
                            hx-target="closest tr"
                            hx-swap="outerHTML">
                        {% bs_icon 'pencil' %} Edit
                    </button>
                {% endif %}
            </div>
        </div>
    </td>
</tr>
