{% load crispy_forms_tags %}
{% load bootstrap_icons %}

<div class="modal-header">
    <h5 class="modal-title" id="genericEditModalLabel">Edit Provided Address</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <form id="address-edit-form"
          hx-post="{{ hx_url }}"
          hx-target="#address-info-section"
          hx-swap="outerHTML">
        {% csrf_token %}
        {% crispy form %}

        <hr>
        <h5>Action Note (Optional)</h5>
        <textarea name="note" class="form-control mb-2" rows="3" placeholder="Add an optional note about this change..."></textarea>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="note_markdown" id="id_note_markdown_address">
            <label class="form-check-label" for="id_note_markdown_address">
                Note is Markdown
            </label>
        </div>
    </form>
</div>
<div class="modal-footer justify-content-between">
    <div class="d-flex align-items-center">
        <div class="form-check form-switch me-3">
            <input class="form-check-input" type="checkbox" role="switch" id="edit-confirmation-eyeball" onchange="document.getElementById('address-save-button').classList.toggle('d-none');">
            <label class="form-check-label" for="edit-confirmation-eyeball">
                {% bs_icon 'eye-fill' %} Confirm Change
            </label>
        </div>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            <span class="text-nowrap">{% bs_icon 'x-circle' %} Cancel</span>
        </button>
    </div>
    <div>
        <button type="submit" form="address-edit-form" id="address-save-button" class="btn btn-primary d-none">
            <span class="text-nowrap">{% bs_icon 'check-circle-fill' %} Save Provided Address Changes</span>
        </button>
    </div>
</div>
