{% load custom_tags %}

{% with loc=aid_request.location aid_type_slug=aid_request.aid_type.slug %}
<tr class="aid-request-row"
    id="aid-request-row-{{ aid_request.id }}"
    data-request-id="{{ aid_request.id }}"
    data-status="{{ aid_request.status }}"
    data-priority="{{ aid_request.priority|default:'none' }}"
    data-aid-type="{{ aid_type_slug }}"
    data-latitude="{{ loc.latitude|default:'' }}"
    data-longitude="{{ loc.longitude|default:'' }}"
    hx-get="{% url 'get_aid_request_row' field_op=field_op.slug pk=aid_request.pk %}"
    hx-target="this"
    hx-swap="outerHTML"
    hx-trigger="update-row-{{ aid_request.id }} from:body"
    data-url-update="{% url 'aid_request_ajax_update' field_op=field_op.slug pk=aid_request.pk %}">
    <td scope="row" class="align-top py-1">
        {% include "aidrequests/partials/_aid_request_actions.html" %}
    </td>
    <td class="align-top">
        <div class="d-flex flex-column gap-1">
            {% include "aidrequests/partials/_aid_request_status_cell.html" %}
            {% include "aidrequests/partials/_aid_request_priority_cell.html" %}
        </div>
    </td>
    <td class="align-top px-1 text-center">
        {{ aid_request.group_size|default:"-" }}
    </td>
    <td class="align-top">
        {% include "aidrequests/partials/_aid_request_location_cell.html" %}
    </td>
    <td class="py-1 d-none d-xxl-table-cell">
        <div class="small text-nowrap">
        {% if aid_request.updated_at %}
            {{ aid_request.updated_at|compact_timesince }}
        {% else %}
            -
        {% endif %}
        </div>
        <div class="small text-nowrap text-muted">
        {{ aid_request.created_at|compact_timesince }}
        </div>
    </td>
</tr>
{% endwith %}
