{% load i18n %}
<div class="d-flex justify-content-end">

    {% if location.status != 'confirmed' %}
        <button class="btn btn-sm btn-success me-2"
                data-bs-toggle="modal"
                data-bs-target="#actionConfirmationModal"
                data-action-url="{% url 'aid_location_status_update' field_op=aid_request.field_op.slug pk=location.pk %}"
                data-action="confirm"
                data-action-name="Confirm"
                data-object-name="Location #{{ location.pk }}"
                data-new-value="Confirmed"
                data-old-value="{{ location.get_status_display }}"
                data-confirm-button-class="btn-success"
                data-confirm-button-icon="check-circle"
                data-confirm-button-text="{% trans 'Confirm Location' %}">
            <i class="bi bi-check-circle"></i>
        </button>
    {% endif %}

    {% if location.status != 'rejected' %}
        <button class="btn btn-sm btn-warning me-2"
                data-bs-toggle="modal"
                data-bs-target="#actionConfirmationModal"
                data-action-url="{% url 'aid_location_status_update' field_op=aid_request.field_op.slug pk=location.pk %}"
                data-action="reject"
                data-action-name="Reject"
                data-object-name="Location #{{ location.pk }}"
                data-new-value="Rejected"
                data-old-value="{{ location.get_status_display }}"
                data-confirm-button-class="btn-warning"
                data-confirm-button-icon="hand-thumbs-down-fill"
                data-confirm-button-text="{% trans 'Reject Location' %}">
            <i class="bi bi-hand-thumbs-down"></i>
        </button>
    {% endif %}

    <button class="btn btn-sm btn-danger"
            data-bs-toggle="modal"
            data-bs-target="#actionConfirmationModal"
            data-action-url="{% url 'api_aid_location_delete' field_op=aid_request.field_op.slug pk=location.pk %}"
            data-http-method="DELETE"
            data-action-name="Delete"
            data-object-name="Location #{{ location.pk }}"
            data-confirm-button-class="btn-danger"
            data-confirm-button-icon="trash"
            data-confirm-button-text="{% trans 'Delete Location' %}">
        <i class="bi bi-trash"></i>
    </button>
</div>
