{% load bootstrap_icons %}
<div class="btn-group btn-group-sm" role="group">
    {% if location.status == 'new' and not aid_request.location_confirmed %}
        <button type="button" class="btn btn-success confirm-location-btn" title="Confirm Location" data-location-id="{{ location.pk }}" data-action="confirm" data-aid-request-id="{{ aid_request.pk }}" data-requester-name="{{ aid_request.requester_full_name }}" data-friendly-address="{{ location.free_form_address|default:'N/A' }}">{% bs_icon 'check-circle' %} Confirm</button>
        <button type="button" class="btn btn-warning reject-location-btn" title="Reject Location" data-location-id="{{ location.pk }}" data-action="reject" data-aid-request-id="{{ aid_request.pk }}" data-requester-name="{{ aid_request.requester_full_name }}" data-friendly-address="{{ location.free_form_address|default:'N/A' }}">{% bs_icon 'hand-thumbs-down' %} Reject</button>
    {% elif location.status == 'confirmed' %}
        <button type="button" class="btn btn-warning reject-location-btn" title="Reject this location" data-location-id="{{ location.pk }}" data-action="reject" data-aid-request-id="{{ aid_request.pk }}" data-requester-name="{{ aid_request.requester_full_name }}" data-friendly-address="{{ location.free_form_address|default:'N/A' }}">{% bs_icon 'hand-thumbs-down' %} Reject</button>
    {% endif %}
    {% if location.status != 'archived' %}
         <button type="button" class="btn btn-danger delete-location-btn"
                 title="Delete Location"
                 data-bs-toggle="modal"
                 data-bs-target="#deleteLocationModal"
                 data-location-id="{{ location.pk }}"
                 data-location-status="{{ location.get_status_display }}"
                 data-aid-request-id="{{ aid_request.pk }}"
                 data-requester-name="{{ aid_request.requester_full_name }}"
                 data-full-address="{{ aid_request.full_address }}"
                 data-friendly-address="{{ location.free_form_address|default:'N/A' }}"
                 data-location-note="{{ location.note|default:'' }}">
             {% bs_icon 'trash-fill' %}
         </button>
    {% endif %}
</div>
