<div class="small">
    {% with loc=aid_request.location %}
        <div class="" style="max-width: 150px; display: -webkit-box; -webkit-line-clamp: 2; line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden;"
             title="{{ aid_request.provided_address }}">
            {% if aid_request.provided_address %}
                {{ aid_request.provided_address }}
            {% else %}
                <span class="text-muted fst-italic">No address provided</span>
            {% endif %}
        </div>

        {% if loc.latitude and loc.longitude %}
             <div class="d-flex align-items-center mt-1">
                <div class="me-2">
                    {% if loc.status == 'confirmed' %}
                        <i class="bi bi-geo-alt-fill text-success" title="Confirmed Location"></i>
                    {% elif loc.status == 'new' %}
                        <i class="bi bi-geo-alt-fill text-warning" title="New Location Candidate"></i>
                    {% else %}
                        <i class="bi bi-geo-alt text-muted" title="Unverified Location"></i>
                    {% endif %}
                </div>

                <div class="d-inline-flex align-items-center border rounded bg-light px-1">
                    <span class="font-monospace text-nowrap text-muted d-none d-xl-inline" style="font-size: 0.85em;">{{ loc.latitude|floatformat:5 }},{{ loc.longitude|floatformat:5 }}</span>
                    <button class="btn btn-link text-secondary btn-sm py-0 ps-1 border-0 btn-copy-coords"
                            type="button"
                            data-copy-text="{{ loc.latitude|floatformat:5 }},{{ loc.longitude|floatformat:5 }}"
                            onclick="copyCoords(this)"
                            title="Copy to clipboard">
                        <i class="bi bi-clipboard"></i>
                    </button>
                </div>
             </div>
        {% endif %}
    {% endwith %}
</div>
