{% for log in audit_logs %}
<tr class="table-info" data-log-id="{{ log.pk }}">
    <td>{{ log.timestamp|date:"Y-m-d H:i:s" }}</td>
    <td>{% if log.actor %}{{ log.actor.get_full_name|default:log.actor.username }}{% else %}System{% endif %}</td>
    <td>
        {% if log.action == 0 %}Create{% endif %}
        {% if log.action == 1 %}Update{% endif %}
        {% if log.action == 2 %}Delete{% endif %}
    </td>
    <td>
        <ul class="list-unstyled mb-0">
        {% for key, value in log.changes_dict.items %}
            <li><strong>{{ key|escape }}:</strong> '{{ value.0|escape }}' changed to '{{ value.1|escape }}'</li>
        {% endfor %}
        </ul>
    </td>
</tr>
{% endfor %}
