<div class="d-inline-flex align-items-center border rounded bg-light px-1">
    <span class="font-monospace text-nowrap" id="{{ element_id }}">{{ latitude|floatformat:5 }},{{ longitude|floatformat:5 }}</span>
    <button class="btn btn-link text-secondary btn-sm py-0 ps-1 border-0 btn-copy-coords"
            type="button"
            data-copy-text="{{ latitude|floatformat:5 }},{{ longitude|floatformat:5 }}"
            onclick="copyCoords(this)"
            title="Copy to clipboard">
        <i class="bi bi-clipboard"></i>
    </button>
</div>
