{% load crispy_forms_tags %}
{% load bootstrap_icons %}

<div class="modal-header">
    <h5 class="modal-title" id="genericEditModalLabel">Edit {{ field_label }}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <form id="generic-edit-form"
          hx-post="{{ save_url }}"
          hx-target="#{{ field_name }}_display"
          hx-swap="innerHTML">
        {% csrf_token %}
        {{ form|crispy }}
    </form>
</div>
<div class="modal-footer justify-content-between">
    <div class="d-flex align-items-center">
        <div class="form-check form-switch me-3">
            <input class="form-check-input" type="checkbox" role="switch" id="edit-confirmation-toggle">
            <label class="form-check-label" for="edit-confirmation-toggle">
                {% bs_icon 'eye-fill' %} Confirm Change
            </label>
        </div>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            <span class="text-nowrap">{% bs_icon 'x-circle' %} Cancel</span>
        </button>
    </div>
    <div>
        <button type="submit" form="generic-edit-form" id="generic-save-button" class="btn btn-primary d-none">
            <span class="text-nowrap">{% bs_icon 'check-circle-fill' %} Save {{ field_label }} Changes</span>
        </button>
    </div>
</div>
