{% load custom_tags %}
<button id="htmx-tak-alert-button"
        class="btn btn-danger me-1 {{ button_size_class|default:'btn-sm' }}"
        data-action="{{ action }}"
        hx-post="{% url 'htmx_send_tak_alert' field_op=slug %}"
        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
        hx-target="#send-cot-status"
        hx-swap="innerHTML"
        hx-indicator="#htmx-tak-alert-button"
        hx-vals='{
            "mark_type": "{{ action }}",
            "aid_request_id": "{{ aid_request_id }}"
        }'
        {% if disabled %}disabled{% endif %}>
    <span class="htmx-indicator">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    </span>
    <span class="btn-content">
        <i class="bi bi-bullseye me-1"></i>
        <span>Alert TAK</span>
    </span>
</button>
