{% load crispy_forms_tags %}

<div class="mb-3">
    {% crispy log_form %}
</div>

<table class="table table-sm table-striped table-bordered w-100">
    <caption class="caption-top text-muted small">
        {% if action_logs.first %}
        All timestamps are in {{ action_logs.first.created_at|date:"T" }} ({{ action_logs.first.created_at|date:"O" }})
        {% endif %}
    </caption>
    <thead class="table-light">
        <tr>
            <th scope="col">Timestamp</th>
            <th scope="col">User</th>
            <th scope="col">Type</th>
            <th scope="col">Message</th>
        </tr>
    </thead>
    <tbody id="action-logs-tbody">
        {% for log in action_logs %}
            {% include 'aidrequests/action_log_row.html' %}
        {% endfor %}
    </tbody>
</table>
