<tr class="aid-request-row"
    id="aid-request-row-{{ aid_request.id }}"
    data-request-id="{{ aid_request.id }}"
    data-status="{{ aid_request.status }}"
    data-priority="{{ aid_request.priority|default:'none' }}"
    data-aid-type="{{ aid_request.aid_type.slug }}"
    data-latitude="{{ aid_request.location.latitude }}"
    data-longitude="{{ aid_request.location.longitude }}"
    hx-target="this"
    hx-swap="outerHTML"
    hx-trigger="update-row-{{ aid_request.id }} from:body"
    data-url-update="{% url 'aid_request_ajax_update' field_op=field_op.slug pk=aid_request.pk %}">
    <td scope="row" class="align-middle">
        <div class="btn-group-vertical btn-group-sm">
