{% load static %}
{% load custom_tags %}
{% load tz_detect %}
{% load meta %}

<!doctype html>
<html lang="en">

<head>
  <title>{% block title_prefix %}{% endblock %}{{ org_url_text }} on {{ server_hostname }}</title>

  {% include "meta/meta.html" %}

  <link rel="icon" href="{% static 'images/bi-person-raised-hand.svg' %}">
  <!-- Bootstrap core CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
    crossorigin="anonymous">

  <!-- Bootstrap icons -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <!-- <link rel="stylesheet" href="{% static 'css/custom-bootstrap.css' %}?v={{ static_version }}" type="text/css"> -->

  <!-- Base.css -->
  <link rel="stylesheet" href="{% static 'css/base.css' %}?v={{ static_version }}" type="text/css">
  <!-- more customizations? -->
  <link rel="stylesheet" href="{% static 'css/custom.css' %}?v={{ static_version }}" type="text/css">
  <style>
    :root {
      {% if banner_color %}
      --banner-color: {{ banner_color }};
      {% endif %}
      {% if color_mode == 'dark' %}
      --banner-text-color: {{ banner_color_light }};
      {% else %}
      --banner-text-color: {{ banner_color_dark }};
      {% endif %}
    }
  </style>
  {% block extra_css %}
  <!-- Page-specific CSS will be inserted here -->
  {% endblock %}
</head>

<body {{ body_data_attributes|safe }}>
  <header>
    <nav class="navbar navbar-expand-sm {{ navbar_theme }}">
      <div class="container mx-1">
        <div class="col-3 text-center d-inline fw-bold lh-1 navbar-brand">
          <div class="d-inline" id="logo">
            <img src="{% static site_image_url %}" alt="site image logo" class="me-1">
          </div>
        </div>

        <div class="navbar-text mx-auto {% if navbar_theme == 'navbar-dark' %}text-light{% else %}text-dark{% endif %}">
            <h4 class="mb-0">
              {% block header_title %}
              {% endblock %}
            </h4>
        </div>

        {% include 'partials/_login_logout_partial.html' %}
      </div>
    </nav>
  </header>

  {% block content %}
  {% endblock %}

  {% if user.is_authenticated %}
  <!-- Footer -->
  <footer class="text-muted small py-1 border-top my-4">
    <div class="container d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-center">
        <div class="d-flex justify-content-center align-items-center pe-1 mb-1">
            <i class="bi bi-life-preserver text-danger icon-size-1-25"></i>
        </div>
        <div class="d-flex justify-content-center align-items-center">
          <a href="{{ org_url }}" target="_blank" rel="noopener noreferrer">
            <button type="button" class="btn btn-link p-0">
              <small>{{ org_url_text }}</small>
            </button>
          </a>
        </div>
        <div class="d-flex justify-content-center align-items-center p-0 mb-1">
          <i class="bi bi-person-raised-hand text-success icon-size-1-25"></i>
        </div>
      </div>
      <div class="d-flex align-items-center font-monospace">
        <small class="text-muted">t:{% now "Ymd-Hi" %}</small>
      </div>
      <div class="d-flex align-items-center">
        <a href="https://austinvoicedata.com">
          <img src="{% static 'images/AVD_Logo.jpg' %}" width="60px" alt="Austin Voice Data LLC" class="me-1">
        </a>
      </div>
      {% if perms.is_staff %}
        <div class="d-flex align-items-center font-monospace">
          <a href="/admin" class="text-reset">
            <button class="btn btn-sm btn-outline-info">admin</button>
          </a>
        </div>
      {% endif %}
      {% block page_refresh_timer %}{% endblock %}
    </div>
  </footer>
  {% endif %}

  {% tz_detect %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous">
  </script>

  <!-- JavaScript files -->
  <script type="text/javascript" src="{% static 'js/time-helper.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/utils.js' %}?v={{ static_version }}"></script>
  <!-- Export tables to CSV -->
  <script type="text/javascript" src="{% static 'js/export_csv.js' %}"></script>
  <!-- JQuery Support -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

  {% block extra_js %}
  <!-- Page-specific JavaScript will be inserted here -->
  {% endblock %}
</body>
</html>
