{% load static %}
{% load custom_tags %}
{% load tz_detect %}

<!doctype html>
<html lang="en">

<head>
  <link rel="icon" href="{% static 'images/bi-person-raised-hand.svg' %}">
  <!-- Bootstrap core CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
    rel="stylesheet"
    ntegrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
    crossorigin="anonymous">

  <!-- Bootstrap icons -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <!-- <link rel="stylesheet" href="{% static 'css/custom-bootstrap.css' %}?v={{ static_version }}" type="text/css"> -->

  <!-- Base.css -->
  <link rel="stylesheet" href="{% static 'css/base.css' %}?v={{ static_version }}" type="text/css">
  <!-- more customizations? -->
  <link rel="stylesheet" href="{% static 'css/custom.css' %}?v={{ static_version }}" type="text/css">
  {% block extra_css %}
  <!-- Page-specific CSS will be inserted here -->
  {% endblock %}
</head>

<body {{ body_data_attributes|safe }}>

  <title>{{ server_hostname }} - InForms - Intake Forms</title>

  <header>
    <nav class="navbar navbar-expand-md navbar-dark">
      <div class="container mx-1">
        <div class="col-3 text-center d-inline fw-bold lh-1 navbar-brand">
          <div class="d-inline" id="logo">
            <img src="{% static 'images/SoA-Logo_GlobeWhite500.png' %}" alt="Save our Allies Logo" class="me-1">
          </div>
          <div class="d-inline" id="banner-title">
             InForms
          </div>
        </div>

        <div class="navbar-text mx-auto text-light">
            <h4 class="mb-0">{% block header_title %}{% endblock %}</h4>
        </div>

        {% if user.is_authenticated %}
          {# Hiding auth items based on hide_auth_header_items context variable #}
          {% if not hide_auth_header_items %}
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          {% if perms.aidrequests.view_fieldop %}
            <div class="collapse navbar-collapse col-4" id="navbarNavAltMarkup">
              <div>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                      aria-expanded="false">
                      <img src="{% static 'images/informs-icon1.webp' %}" alt="FormsIcon" height="60px" width="60px">
                      <div class="d-inline-block float-left">Field Ops</div>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li>
                        <button class="dropdown-item btn btn-primary" onclick="location.href='{% url 'field_op_list' %}'; return false;">
                          <i class="bi bi-truck"></i> <i class="bi bi-truck"></i>  All Field Ops
                        </button>
                      </li>
                      <li>
                        <button class="dropdown-item btn btn-primary" onclick="location.href='{% url 'field_op_create' %}'; return false;">
                          <i class="bi bi-plus-circle"></i> New Field Op <i class="bi bi-truck"></i>
                        </button>
                      </li>
                      {% for fieldop in fieldops_active %}
                        <li>
                            <button class="dropdown-item btn btn-primary" onclick="location.href='{% url 'aid_request_list' field_op=fieldop.slug %}'; return false;">
                              <i class="bi life-preserver text-danger"></i>  {{ fieldop.name }} - Aid Requests
                            </button>
                        </li>
                      {% endfor %}
                      <li><hr class="dropdown-divider"></li>
                      <li class="dropdown-header">Beta...</li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
            <div class="collapse navbar-collapse col-4" id="navbarNavAltMarkup2">
              <div>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                      aria-expanded="false">
                      <img src="{% static 'images/informs-icon1.webp' %}" alt="FormsIcon" height="60px" width="60px">
                      <div class="d-inline-block float-left">Inactive Menu</div>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <ul>Next Menu</ul>
                      <!-- <li><hr class="dropdown-divider"></li>
                      <li class="dropdown-header">Beta...</li>
                      <li>
                        None
                      </li> -->
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          {% endif %}
          <div class="col-1"></div>
          <div class="col-2">
            <div class="nav-item nav-link link-secondary d-flex align-items-center" aria-current="page">
              <i class="bi bi-person-fill text-success"></i>
              {{ user.username }}
            </div>
            <a class="nav-item nav-link link-secondary d-flex align-items-center"
              href="javascript:{document.getElementById('logout').submit()}" onclick="">
              <i class="bi bi-box-arrow-right text-danger"></i>
              Logout
            </a>
            <form id="logout" method="POST" action="{% url 'logout' %}">
              {% csrf_token %}
              <input type="hidden" />
            </form>
            </div>
          </div>
          {% endif %}
        {% else %}
          {% if request.resolver_match.url_name == 'home' %}
            <div class="col-4"></div>
            <div class="col-2">
              <a class="nav-item nav-link link-secondary d-flex align-items-center" href="{% url 'login' %}">
                <i class="bi bi-box-arrow-in-right text-success"></i>
                Login
              </a>
              <a class="nav-item nav-link link-secondary d-flex align-items-center" aria-current="page"
                href="{% url 'signup'%}">
                <i class="bi bi-person-plus-fill text-white"></i>
                Join
              </a>
            </div>
          {% endif %}
        {% endif %}
      </div>
    </nav>
  </header>

  {% block content %}
  {% endblock %}

  {% if user.is_authenticated %}
  <!-- Footer -->
  <footer class="text-muted small py-1 border-top my-4">
    <div class="container d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-center">
        <div class="d-flex justify-content-center align-items-center pe-1 mb-1">
            <i class="bi bi-life-preserver text-danger icon-size-1-25"></i>
        </div>
        <div class="d-flex justify-content-center align-items-center">
          <a href="https://saveourallies.org">
            <button type="button" class="btn btn-link p-0">
              <small>SaveOurAllies.org</small>
            </button>
          </a>
        </div>
        <div class="d-flex justify-content-center align-items-center p-0 mb-1">
          <i class="bi bi-person-raised-hand text-success icon-size-1-25"></i>
        </div>
      </div>
      <div class="d-flex align-items-center font-monospace">
        <small class="text-muted">t:{% now "Ymd-Hi" %}</small>
      </div>
      <div class="d-flex align-items-center">
        <a href="https://austinvoicedata.com">
          <img src="{% static 'images/AVD_Logo.jpg' %}" width="60px" alt="Austin Voice Data LLC" class="me-1">
        </a>
      </div>
      {% if perms.is_staff %}
        <div class="d-flex align-items-center font-monospace">
          <a href="/admin" class="text-reset">
            <button class="btn btn-sm btn-outline-info">admin</button>
          </a>
        </div>
      {% endif %}

    </div>
  </footer>
  {% endif %}

  {% tz_detect %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous">
  </script>

  <!-- JavaScript files -->
  <script type="text/javascript" src="{% static 'js/time-helper.js' %}"></script>
  <!-- Export tables to CSV -->
  <script type="text/javascript" src="{% static 'js/export_csv.js' %}"></script>
  <!-- JQuery Support -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

  {% block extra_js %}
  <!-- Page-specific JavaScript will be inserted here -->
  {% endblock %}
</body>
</html>
