django~=5.1

django_bootstrap_icons
django-tz-detect
crispy-bootstrap5
django-crispy-forms
django-mathfilters
django-auditlog
django-q2
django-picklefield
django-filter

blessed

aiohttp
httpx
cryptography
jinja2

gunicorn
azure-core
azure-maps-search
azure-communication-email
geopy
pytak

icecream

# if dev ?
django-debug-toolbar
