<div class="card mb-1">
    <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
                <h5 class="mb-0 me-2">Summary</h5>
                <a href="{% url 'aid_request_update' pk=aid_request.pk field_op=field_op.slug %}" class="btn btn-warning btn-sm">
                    <i class="bi bi-pencil"></i>
                </a>
            </div>
            <div class="d-flex align-items-center">
                <div class="me-2">
                    <button id="tak-alert-button" class="btn btn-danger btn-sm">
                        <i class="bi bi-bullseye"></i> Alert TAK
                    </button>
                    <div id="send-cot-status"></div>
                </div>
                <div>
                    <a href="{% url 'aid_request_notify' field_op=field_op.slug pk=aid_request.pk %}" id="send-email-button" class="btn btn-info btn-sm">
                        <i class="bi bi-send"></i> Send Email
                    </a>
                    <div id="send-email-status"></div>
                </div>
                <input type="hidden" id="aidrequest_id" value="{{ aid_request.pk }}">
            </div>
        </div>
    </div>
    <div class="card-body m-0 p-1">
        <div class="row align-items-center">
            <div class="col-12">
                <div class="d-flex align-items-center">
                    <small class="text-muted me-2">Field Op:</small>
                    {% include 'aidrequests/partials/_field_op_cell.html' %}
                </div>
            </div>
        </div>
        <hr class="my-2">
        <div class="row">
            <div class="col-6">
                <div class="d-flex flex-column">
                    <small class="text-muted">Aid Type</small>
                    <span class="fw-bold">{{ object.aid_type }}</span>
                </div>
            </div>
            <div class="col-6">
                <div class="d-flex flex-column">
                    <small class="text-muted">Group Size</small>
                    {% include 'aidrequests/partials/_group_size_display.html' with group_size=object.group_size %}
                </div>
            </div>
        </div>
        <hr class="m-2">
        <div class="m-0">
            <small class="text-muted">Requester</small>
            <div class="d-flex justify-content-around text-center pt-2">
                 <div>
                     <small class="text-muted d-block">Name</small>
                     <span class="fw-bold fs-5">{{ object.requester_full_name }}</span>
                 </div>
                 {% if object.requester_phone %}
                 <div>
                     <small class="text-muted d-block">Phone</small>
                     <span class="fw-bold fs-5">
                         {{ object.requester_phone }}
                         {% if object.use_whatsapp %}
                             <i class="bi bi-whatsapp" style="color: green;"></i>
                         {% endif %}
                     </span>
                 </div>
                 {% endif %}
                 {% if object.requester_email %}
                 <div>
                     <small class="text-muted d-block">Email</small>
                     <span class="fw-bold fs-5">{{ object.requester_email }}</span>
                 </div>
                 {% endif %}
            </div>
        </div>
        <hr class="m-2">
        <div class="m-0">
            <small class="text-muted">Address Provided</small>
            <div class='font-monospace text-wrap text-break overflow-hidden'>
                {{ object.street_address }}
                {{ object.city }}
                {{ object.state }}
                {{ object.zip_code }}
                {{ object.country }}
            </div>
        </div>
        <hr class="m-2">
        <div class="mt-1">
            <small class="text-muted">Description</small>
            <div class="font-monospace">
                {{ object.aid_description|default:"-" }}
            </div>
        </div>
    </div>
</div>
