<div class="card" id="aid-request-details-card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
            <h5 class="mb-0 me-2">
                <span class="text-nowrap">Aid Type:</span>
            </h5>
            <h5 class="mb-0 me-3">
                <span id="aid-type-display" class="fw-normal text-nowrap">
                    <i class="bi bi-{{ aid_request.aid_type.bs_icon|default:'question-circle' }}"></i> {{ aid_request.aid_type.name }}
                </span>
            {% if request.user.is_superuser %}
                <a data-bs-toggle="modal" data-bs-target="#changeAidTypeModal" title="Change Aid Type" class="text-warning text-decoration-none ms-1">
                    <i class="bi bi-wrench"></i>
                </a>
            {% endif %}
            </h5>
        </div>
        <div class="d-flex align-items-center">
            <div id="send-cot-status" class="me-2"></div>
        <div class="btn-group btn-group-sm">
                {% include 'aidrequests/partials/_tak_alert_button.html' with slug=aid_request.field_op.slug action='aid' aid_request_id=aid_request.pk csrf_token=csrf_token %}
            <a href="{% url 'aid_request_notify' field_op=aid_request.field_op.slug pk=aid_request.pk %}" class="btn btn-outline-secondary">
                        <i class="bi bi-envelope"></i><span class="d-none d-md-inline ms-1">eMail Alert</span>
            </a>
            </div>
        </div>
    </div>
    <div class="card-body">
        {% include 'aidrequests/partials/_requester_info_display.html' %}
        <hr/>
        <div class="d-flex justify-content-between align-items-center">
            <p class="mb-1"><strong>Description</strong></p>
            <a data-bs-toggle="modal" href="#genericEditModal"
               hx-get="{% url 'edit_aid_description' field_op=aid_request.field_op.slug pk=aid_request.pk %}"
               hx-target="#generic-modal-content"
               title="Edit Description" class="text-warning">
                <i class="bi bi-pencil-square"></i>
            </a>
        </div>
        <pre id="aid_description_display" class="pre-wrap-normal">{{ aid_request.aid_description|default:"-" }}</pre>

        <div class="d-flex justify-content-between align-items-center">
            <p class="mb-1"><strong>Supplies Needed</strong></p>
            <a data-bs-toggle="modal" href="#genericEditModal"
               hx-get="{% url 'edit_supplies_needed' field_op=aid_request.field_op.slug pk=aid_request.pk %}"
               hx-target="#generic-modal-content"
               title="Edit Supplies Needed" class="text-warning">
                <i class="bi bi-pencil-square"></i>
            </a>
        </div>
        <pre id="supplies_needed_display" class="pre-wrap-normal">{{ aid_request.supplies_needed|default:"-" }}</pre>

        <div class="d-flex justify-content-between align-items-center">
            <p class="mb-1"><strong>Medical Needs</strong></p>
            <a data-bs-toggle="modal" href="#genericEditModal"
               hx-get="{% url 'edit_medical_needs' field_op=aid_request.field_op.slug pk=aid_request.pk %}"
               hx-target="#generic-modal-content"
               title="Edit Medical Needs" class="text-warning">
                <i class="bi bi-pencil-square"></i>
            </a>
        </div>
        <pre id="medical_needs_display" class="pre-wrap-normal">{{ aid_request.medical_needs|default:"-" }}</pre>

        <div class="d-flex justify-content-between align-items-center">
            <p class="mb-1"><strong>Welfare Check Info</strong></p>
            <a data-bs-toggle="modal" href="#genericEditModal"
               hx-get="{% url 'edit_welfare_check_info' field_op=aid_request.field_op.slug pk=aid_request.pk %}"
               hx-target="#generic-modal-content"
               title="Edit Welfare Check Info" class="text-warning">
                <i class="bi bi-pencil-square"></i>
            </a>
        </div>
        <pre id="welfare_check_info_display" class="pre-wrap-normal">{{ aid_request.welfare_check_info|default:"-" }}</pre>

        <div class="d-flex justify-content-between align-items-center">
            <p class="mb-1"><strong>Additional Info</strong></p>
            <a data-bs-toggle="modal" href="#genericEditModal"
               hx-get="{% url 'edit_additional_info' field_op=aid_request.field_op.slug pk=aid_request.pk %}"
               hx-target="#generic-modal-content"
               title="Edit Additional Info" class="text-warning">
                <i class="bi bi-pencil-square"></i>
            </a>
        </div>
        <pre id="additional_info_display" class="pre-wrap-normal">{{ aid_request.additional_info|default:"-" }}</pre>

    </div>
</div>
