{% load custom_tags %}

<div class="d-flex justify-content-between align-items-center my-1">
    <div class="d-flex align-items-center">
        <h1 class="mb-0 me-3"><i class="bi bi-life-preserver text-danger"></i> Aid Request #{{ object.pk }}</h1>
        <div class="d-flex align-items-center">
            <div class="font-monospace bg-light p-0" style="font-size: 0.75rem;">
                <table class="table border border-1 m-0 p-0 w-auto">
                    <tr>
                        <td class="border border-info bg-transparent m-0 px-1 py-0">
                            priority:
                            <span id="header-priority-display">{{ object.get_priority_display }}</span>
                        </td>
                        <td class="border border-info bg-transparent m-0 px-1 py-0">
                            created:
                            {{ object.created_at|date:"Y-m-d H:i" }}
                            ({{ object.created_by }})
                        </td>
                        <th class="border border-info bg-transparent m-0 px-1 py-0">
                            Locations
                        </th>
                        <th class="border border-info bg-transparent m-0 px-1 py-0">
                            Logs
                        </th>
                    </tr>
                    <tr>
                        <td class="border border-info bg-transparent m-0 px-1 py-0">
                            status:
                            <span id="header-status-display">{{ object.get_status_display }}</span>
                        </td>
                        <td class="border border-info bg-transparent m-0 px-1 py-0">
                            updated:
                            {{ object.updated_at|date:"Y-m-d H:i" }}
                            ({{ object.updated_by }})
                        </td>
                        <td class="border border-info bg-transparent m-0 px-1 py-0">{{ locations|length }}
                            {% if confirmed %}
                            <span class="text-success"><i class="bi bi-check"></i> ok</span>
                        {% else %}
                            <span class="text-danger"><i class="bi bi-exclamation"></i> NOT CONFIRMED</span>
                        {% endif %}
                        </td>
                        <td class="border border-info bg-transparent m-0 px-1 py-0">
                            <a href="#logTabs">{{ action_logs|length }}</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
