<div class="card mb-1">
    <div class="card-header bg-light d-flex justify-content-between align-items-center">
        <h5 class="card-title mb-0">Details</h5>
        <div class="d-inline-flex align-items-center">
            <div id="send-cot-status" class="small text-nowrap rounded px-2 py-1 transition-opacity"></div>
            {% include 'aidrequests/partials/_tak_alert_button.html' with slug=object.slug action='field_op_only' disabled=object.disable_cot %}
        </div>
    </div>
    <div class="card-body">
        <dl class="row mb-0">
            <!-- Name and Slug -->
            <dt class="col-md-2 text-nowrap d-flex align-items-center"><i class="bi bi-card-heading text-dark me-2"></i>Name</dt>
            <dd class="col-md-4">{{ object.name }}</dd>
            <dt class="col-md-2 text-nowrap d-flex align-items-center"><i class="bi bi-tag text-dark me-2"></i>Slug</dt>
            <dd class="col-md-4">{{ object.slug }}</dd>

            <!-- Country -->
            <dt class="col-md-2 text-nowrap d-flex align-items-center mt-2"><i class="bi bi-globe text-dark me-2"></i>Country</dt>
            <dd class="col-md-10 mt-2">{{ object.country.name }}</dd>

            <!-- Coordinates and Ring Size -->
            <dt class="col-md-2 text-nowrap d-flex align-items-center mt-2"><i class="bi bi-geo-alt text-info me-2"></i>Coordinates</dt>
            <dd class="col-md-4 mt-2">
                {% include 'aidrequests/partials/_coordinates_display.html' with latitude=object.latitude longitude=object.longitude element_id='coordinates' %}
            </dd>
            <dt class="col-md-2 text-nowrap d-flex align-items-center mt-2"><i class="bi bi-circle text-primary me-2"></i>Ring Size</dt>
            <dd class="col-md-4 mt-2">{{ object.ring_size }} km</dd>

            <!-- TAK Server and COT Status -->
            <dt class="col-md-2 text-nowrap d-flex align-items-center mt-2">
                <i class="bi bi-hdd-rack tak-server-icon"></i><i class="bi bi-plus-circle me-2 tak-server-icon"></i>TAK Server
            </dt>
            <dd class="col-md-4 mt-2">{{ object.tak_server.name|default:"Not set" }}</dd>
            <dt class="col-md-2 text-nowrap d-flex align-items-center mt-2">
                <i class="bi bi-power {% if object.disable_cot %}text-secondary{% else %}text-success{% endif %} me-2"></i>COT Status
            </dt>
            <dd class="col-md-4 mt-2">
                {% if object.disable_cot %}
                    <span class="text-secondary">Disabled</span>
                {% else %}
                    <span class="text-success">Enabled</span>
                {% endif %}
            </dd>

            <!-- Aid Types (Full Width) -->
            <div class="col-12 mt-3">
                <div class="row">
                    <dt class="col-12"><i class="bi bi-life-preserver text-danger me-2"></i>Aid Types</dt>
                    <dd class="col-12">
                        {% for type in object.aid_types.all %}
                            {{ type.name }}{% if not forloop.last %}, {% endif %}
                        {% empty %}
                            <span class="text-muted">No aid types specified.</span>
                        {% endfor %}
                    </dd>
                </div>
            </div>

            <!-- Notify (Full Width) -->
            <div class="col-12 mt-3">
                <div class="row">
                    <dt class="col-12"><i class="bi bi-bell text-info me-2"></i>Notify</dt>
                    <dd class="col-12">
                        {% if object.notify.all %}
                            {# Email contacts #}
                            <div>
                            {% for contact in object.notify.all %}
                                {% if contact.type|slice:":5" == 'email' %}
                                <span class="me-3" title="{{ contact.email }}">
                                    {{ contact.name }}
                                    <i class="bi bi-envelope ms-1"></i>
                                </span>
                                {% endif %}
                            {% endfor %}
                            </div>

                            {# SMS contacts #}
                            <div class="text-muted opacity-50">
                            {% for contact in object.notify.all %}
                                {% if contact.type == 'sms' %}
                                <span class="me-3" title="{{ contact.sms_number }}">
                                    {{ contact.name }}
                                    <i class="bi bi-chat ms-1"></i>
                                </span>
                                {% endif %}
                            {% endfor %}
                            </div>
                        {% else %}
                            <span class="text-muted">No notify contacts specified.</span>
                        {% endif %}
                    </dd>
                </div>
            </div>
        </dl>
    </div>
</div>
