<div class="d-flex gap-2 align-items-center">
    <button id="tak-alert-button" class="btn btn-danger">
        <i class="bi bi-bullseye me-1"></i>Alert TAK
    </button>
    <!-- <button id="tak-clear-button" class="btn btn-success">
        <i class="bi bi-bullseye me-1"></i>Clear TAK
    </button>
    <button id="tak-test-button" class="btn btn-info">
        <i class="bi bi-bullseye me-1"></i>Test Button
    </button> -->
    <div class="text-dark font-monospace">
        <div id="send-cot-status"></div>
    </div>
</div>
