{% extends "base.html" %}
{% load static %}

{% block header_title %}
Aid Request for {{ object.field_op.name }}
{% endblock header_title %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="https://atlas.microsoft.com/sdk/javascript/mapcontrol/3/atlas.min.css" />
<link rel="stylesheet" href="{% static 'css/azure-maps-layer-legend.css' %}?v={{ static_version }}" type="text/css">
{% endblock %}

{% block content %}
<div class="container m-4">
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Thank you for your submission!</h4>
        <p>Your Aid Request has been submitted and is now being processed. We will contact you with the information you provided.</p>
    </div>

    <div class="d-flex justify-content-start my-2">
        <button id="submit-another-btn" class="btn btn-primary me-2">Submit Another Request</button>
        <button onclick="window.print()" class="btn btn-secondary me-2">Print</button>
    </div>

    <div class="row flex-row align-items-center my-1">
        <div class="col-auto">
            <h1 class="mb-0">
                Aid Request:
                {% if user.is_authenticated %}
                    <a href="{% url 'aid_request_detail' pk=object.pk field_op=object.field_op.slug %}">{{ object.pk }}</a>
                {% else %}
                    {{ object.pk }}
                {% endif %}
            </h1>
        </div>
    </div>
    <hr class="m-0" />
    <div class="container font-monospace mt-1">
        <div class="d-flex flex-column flex-lg-row">
            <table class="table table-bordered table-data caption-top me-2 border border-3 border-success">
                <caption>Aid Summary</caption>
                <tr>
                    <th class="col-auto">ID</th>
                    <th class="col-auto">Field Op</th>
                    <th class="col-auto">Aid Type</th>
                    <th class="col-auto text-nowrap">Group Size</th>
                </tr>
                <tr>
                    <td class="col-auto">
                        {% if user.is_authenticated %}
                            <a href="{% url 'aid_request_detail' pk=object.pk field_op=object.field_op.slug %}">{{ object.pk }}</a>
                        {% else %}
                            {{ object.pk }}
                        {% endif %}
                    </td>
                    <td class="col-auto text-nowrap">
                        {{ object.field_op.name }}
                    </td>
                    <td class="col-auto text-nowrap">{{ object.aid_type }}</td>
                    <td class="col-auto text-center text-nowrap">{{ object.group_size }}</td>
                </tr>
                <tr><th colspan="4">Address Provided</th></tr>
                <tr>
                    <td colspan="4" class='text-wrap text-break overflow-hidden'>
                        {{ object.street_address }}
                        {{ object.city }}
                        {{ object.state }}
                        {{ object.zip_code }}
                        {{ object.country }}
                    </td>
                </tr>
                <tr><th colspan="4">Description</th></tr>
                <tr>
                    <td colspan="4">
                        {{ object.aid_description }}
                    </td>
                </tr>
                <tr><td colspan="4">created: {{ object.created_at|date:"Y-m-d H:i" }}</td></tr>
            </table>
            <table class="table table-bordered table-data border border-3 border-info w-auto caption-top mx-1">
                <caption>Contact Information</caption>
                <tr>
                    <th class="col-auto">Requestor Name</th>
                    <th class="col-auto">Requestor Phone</th>
                    <th class="col-auto">Requestor Email</th>
                </tr>
                <tr>
                    <td class="col-auto">{{ object.requestor_first_name }} {{ object.requestor_last_name }}</td>
                    <td class="col-auto">{{ object.requestor_phone }}</td>
                    <td class="col-auto">{{ object.requestor_email }}</td>
                </tr>
                <tr>
                    <th class="col-auto">Contact Name</th>
                    <th class="col-auto">Contact Phone</th>
                    <th class="col-auto">Contact Email</th>
                </tr>
                <tr>
                    <td class="col-auto">{{ object.aid_first_name|default:"None" }} {{ object.aid_last_name }}</td>
                    <td class="col-auto">{{ object.aid_phone|default:"None" }}</td>
                    <td class="col-auto">{{ object.aid_email|default:"None" }}</td>
                </tr>
                <tr>
                    <td colspan="3">
                        <strong>Methods</strong>:<br>{{ object.contact_methods }}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'js/aidrequest-status-poller.js' %}?v={{ static_version }}"></script>
    <script>
        sessionStorage.setItem('informsFormCSubmitted', 'true');
        sessionStorage.setItem('informsFormLastSubmittedPk', '{{ object.pk }}');

        document.getElementById('submit-another-btn').addEventListener('click', function(e) {
            e.preventDefault();
            sessionStorage.removeItem('informsFormCSubmitted');
            sessionStorage.removeItem('informsFormLastSubmittedPk');
            sessionStorage.removeItem('informsFormCData');
            window.location.href = "{% url 'aid_request_new' field_op=object.field_op.slug %}";
        });
    </script>
{% endblock %}
