{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load bootstrap_icons %}
{% block content %}

<div class="container m-2"
    {% if New %}
    <div class='form-header mb-3'>
        <h2>Aid Request: {{ field_op.name }}</h2>
        <small class="text-muted">
            Please use this form to request aid from Save our Allies. This form should only be used for first-hand requests for aid. Please do not relay aid messages from social media that are not first hand information. Thank you!
        </small>
    </div>
    {% else %}
    <div class="form-header">
        <h2>Update Aid Request</h2>
    </div>
    {% endif %}

    <div id="aid-request-form-wrapper"
         data-azure-maps-key="{{ azure_maps_key }}"
         data-geocode-url="{% url 'ajax_geocode_address' %}"
         data-fieldop-slug="{{ fieldop_slug }}">
        {% crispy form %}
    </div>

    {% if form.action == "update" %}
    <hr />
    <div class="d-flex justify-content-between">
        <div class="d-flex">
            <div class="m-0 p-0">
                <a href="{% url 'aid_request_detail' pk=aid_request.pk field_op=field_op.slug %}" class="btn btn-secondary btn-sm mx-1 p-1">
                    <i class="bi bi-x-circle"></i> Cancel
                </a>
            </div>
            <div class="m-0 p-0">
                <a href="{% url 'aid_request_list' field_op=field_op.slug %}" class="btn btn-info btn-sm mx-1 p-1">
                    <i class="bi bi-list"></i> List
                </a>
            </div>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="https://atlas.microsoft.com/sdk/javascript/mapcontrol/3/atlas.min.css" type="text/css" />
{% endblock %}

{% block extra_js %}
    <script src="https://atlas.microsoft.com/sdk/javascript/mapcontrol/3/atlas.min.js"></script>
    <script src="{% static 'js/aidrequest-form.js' %}"></script>
    <script src="{% static 'js/aidrequest-form-map.js' %}"></script>
    <script src="{% static 'js/utils-copy-to-clipboard.js' %}"></script>
{% endblock %}
