{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load bootstrap_icons %}
{% load custom_tags %}

{% block title %}
Aid Request {{ aid_request.pk }} for {{ field_op.name }}
{% endblock %}

{% block content %}
<div id="aid-request-config"
    data-csrf-token="{{ csrf_token }}"
    data-field-op="{{ field_op.slug }}"
    data-aid-request-id="{{ aid_request.pk }}"
    data-url-partial-update="{{ url_partial_update }}"
    data-url-regenerate-map="{{ url_regenerate_map }}"
    data-url-delete-location="{{ url_delete_location }}"
    data-url-update-location-status="{{ url_update_location_status }}"
    data-url-check-map-status="{{ url_check_map_status }}"
    >
</div>
<div class="container-fluid">
    {% include 'aidrequests/partials/aid_request_header.html' %}
    <hr class="m-0" />
    <div class="row mt-3">
        {# Left Column #}
        <div class="col-lg-7">
            {% include 'aidrequests/includes/aid_request_summary.html' %}
            {% include 'aidrequests/includes/aid_request_contact.html' %}

            <div class="card mb-4">
                <div class="card-header">
                    <h5 class="mb-0">Request Details</h5>
                </div>
                <div class="card-body">
                    <h2>Emergency Medical Needs</h2>
                    <p>{{ object.medical_needs|default:"None" }}</p>

                    <h2>Supplies Needed</h2>
                    <p>{{ object.supplies_needed|default:"None" }}</p>

                    <h2>Welfare Check Information</h2>
                    <p>{{ object.welfare_check_info|default:"None" }}</p>

                    <h2>Additional Information</h2>
                    <p>{{ object.additional_info|default:"None" }}</p>
                </div>
            </div>

             <div class="card mb-4">
                <div class="card-header">
                    <h5 class="mb-0">Request Logs</h5>
                </div>
                <div class="card-body">
                    {% if log_form %}
                        {% crispy log_form %}
                    {% endif %}
                    <hr class="m-1">
                    <div class="container font-monospace">
                        <table class="table table-sm table-warning table-striped table-bordered table-font-small">
                            <thead>
                                <tr>
                                    <th class="col-auto">Updated</th>
                                    <th class="col-auto">Log</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for log in logs %}
                                <tr>
                                    <td class="col-auto">
                                        {{ log.updated_at|date:"Y-m-d H:i" }}
                                        ({{ log.updated_by }})
                                    </td>
                                    <td class="col-auto">
                                        <div class="text-wrap">
                                            {{ log.log_entry }}
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        {# Right Column #}
        <div class="col-lg-5">
            <!-- Status Card -->
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">Request Status</h5>
                </div>
                <div class="card-body">
                    {{ status_form.status|as_crispy_field }}
                    {{ status_form.priority|as_crispy_field }}
                </div>
            </div>
            <div id="locations-list-container">
                {% include 'aidrequests/partials/_aid_locations_list.html' %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_js %}
<script src="{% static 'js/aidrequests-detail.js' %}"></script>
<script src="{% static 'js/aidrequest-update-actions.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        setTimeout(function() {
            if (window.initializeModalMap) {
                window.initializeModalMap();
            }
        }, 200);
    });
</script>
{% endblock extra_js %}
