{% extends "base.html" %}
{% load bootstrap_icons %}
{% load mathfilters %}

{% block content %}
<h2>Aid Request - Address Checker</h2>
<table class="table table-bordered w-auto caption-top">
    <caption>Current Location Details</caption>
    <tr>
        <th class="col-auto">Street Address</th>
        <th class="col-auto">City</th>
        <th class="col-auto">State</th>
        <th class="col-auto">Zip</th>
        <th class="col-auto">Country</th>
        <th class="col-auto">Actions</th>
    </tr>
    <tr>
        <td class="col-auto">{{ object.street_address }}</td>
        <td class="col-auto">{{ object.city }}</td>
        <td class="col-auto">{{ object.state }}</td>
        <td class="col-auto">{{ object.zip_code }}</td>
        <td class="col-auto">{{ object.country }}</td>
        <td class="col-auto">
            <a href="{% url 'aidrequest_addresser' pk=object.pk field_op=field_op.slug %}?action=search" class="btn btn-info btn-sm mx-1 p-1">
                {% bs_icon "search" %} Search
            </a>
            <a href="{% url 'aidrequest_addresser' pk=object.pk field_op=field_op.slug %}?action=check" class="btn btn-success btn-sm mx-1 p-1">
                {% bs_icon "check" %} Check
            </a>
        </td>
    </tr>
</table>
{% if action %}
<div class="alert alert-info">
    <table class="table table-bordered w-auto caption-top">
        <caption>Summary: {{ action }}</caption>
        <thead>
            <tr>
                <th class="col-auto">Query</th>
                <th class="col-auto">Total Results</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="col-auto">{{ action_summary.query }}</td>
                <td class="col-auto">{{ action_summary.totalResults }}</td>
            </tr>
        </tbody>
    </table>
    Field Op: {{ object.field_op.name }} ({{ object.field_op.slug}})
    <div class="d-flex">
        Center: {{ object.field_op.latitude }},{{ object.field_op.longitude }}
    </div>
</div>
<div class="alert alert-warning">
    <table class="table table-bordered w-auto caption-top">
        <caption>Action Results</caption>
        <thead>
        <tr>
            <th class="col-auto">Score</th>
            <th class="col-auto">Dist</th>
            <th class="col-auto">Address</th>
            <th class="col-auto">Coords</th>
            <th class="col-auto">Map-it</th>
            <th class="col-auto">Entry Points</th>
        </tr>
        </thead>
        <tbody>
        {% for result in action_results %}
        <tr>
            <td class="col-auto">{{ result.matchConfidence.score|floatformat:2 }}</td>
            <td class="col-auto">{{ result.dist|div:1000|floatformat:1 }}</td>
            <td class="col-auto">{{ result.address.freeformAddress }} {{ result.address.countryCodeISO3 }}</td>
            <td class="col-auto">{{ result.position.lat }},{{ result.position.lon }}</td>
            <td class="col-auto">
                <a href="https://google.com/maps/@{{ result.position.lat }},{{ result.position.lon }},16z" target="_blank" class="btn btn-primary btn-sm">
                    Google Map
                </a>
            </td>
            <td class="col-auto">{{ result.entryPoints|length }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

<hr>
<table class="table table-bordered w-auto caption-top">
    <caption>Aid Summary</caption>
    <tr>
        <th class="col-auto">ID</th>
        <th class="col-auto">Field Op</th>
        <th class="col-auto">Aid Type</th>
        <th class="col-auto">Group Size</th>
    </tr>
    <tr>
        <td class="col-auto">{{ object.pk }}</td>
        <td class="col-auto">{{ field_op.name }}</td>
        <td class="col-auto">{{ object.get_assistance_type_display }}</td>
        <td class="col-auto text-center">{{ object.group_size }}</td>
    </tr>
</table>

<p>Description: {{ object.assistance_description }}</p>

<hr>
<table class="table table-bordered w-auto caption-top">
    <caption>Contact Information</caption>
    <tr>
        <th class="col col-auto">Requestor Name</th>
        <th class="col col-auto">Requestor Phone</th>
        <th class="col col-auto">Requestor Email</th>
    </tr>
    <tr>
        <td class="col col-auto">{{ object.requestor_first_name }} {{ object.requestor_last_name }}</td>
        <td class="col col-auto">{{ object.requestor_phone }}</td>
        <td class="col col-auto">{{ object.requestor_email }}</td>
    </tr>
    <tr>
        <th class="col col-auto">Contact Name</th>
        <th class="col col-auto">Contact Phone</th>
        <th class="col col-auto">Contact Email</th>
    </tr>
    <tr>
        <td class="col col-auto">{{ object.assistance_first_name }} {{ object.assistance_last_name }}</td>
        <td class="col col-auto">{{ object.assistance_phone }} </td>
        <td class="col col-auto">{{ object.assistance_email }}</td>
    </tr>
</table>

<p>Contact Methods:<br>{{ object.contact_methods }}</p>
<hr>

<div class="d-flex justify-content-between">
    <div class="d-flex">
        <div class="m-0 p-0">
            <a href="{% url 'aidrequest_detail' pk=aidrequest.pk field_op=field_op.slug %}" class="btn btn-info btn-sm mx-1 p-1">
                {% bs_icon "binoculars-fill" %} View
            </a>
        </div>
        <div class="m-0 p-0">
            <a href="{% url 'aidrequest_list' field_op=field_op.slug %}" class="btn btn-info btn-sm mx-1 p-1">
                {% bs_icon "list" %} List
            </a>
        </div>
        <div class="m-0 p-0">
            <a href="{% url 'aidrequest_update' pk=aidrequest.pk field_op=field_op.slug %}" class="btn btn-warning btn-sm mx-1 p-1">
                {% bs_icon "pencil" %} Edit
            </a>
        </div>
    </div>
</div>
{% endblock %}
