{% extends "base.html" %}
{% load bootstrap_icons %}
{% load crispy_forms_tags %}

{% block content %}
<h2>Aid Request Details</h2>
<hr>
<div class="d-flex justify-content-between">
    <div class="d-flex">
    <strong>Action:</strong>
        <div class="mx-2 p-0">
            <a href="{% url 'aidrequest_geocode' pk=object.pk field_op=field_op.slug %}" class="btn btn-success btn-sm mx-1 p-1">
                {% bs_icon "globe2" %} Geocode
            </a>
        </div>
    </div>
    <a href="{% url 'aidrequest_update' pk=aidrequest.pk field_op=field_op.slug %}" class="btn btn-warning btn-sm mx-1 p-1">
        {% bs_icon "pencil" %} Edit
    </a>
</div>
<hr>
<div class="container font-monospace mt-1">
    <div class="d-flex flex-column flex-lg-row">
        <div class="table-responsive">
            <table class="table table-bordered table-data w-auto caption-top me-2 border border-3 border-success">
                <caption>Aid Summary</caption>
                <tr>
                    <th class="col-auto">ID</th>
                    <th class="col-auto">Field Op</th>
                    <th class="col-auto">Aid Type</th>
                    <th class="col-auto">Group Size</th>
                </tr>
                <tr>
                    <td class="col-auto">
                        {{ object.pk }}
                    </td>
                    <td class="col-auto">                     
                        <a href="{% url 'aidrequest_list' field_op=field_op.slug %}" class="btn btn-outline-info btn-sm mx-1 p-1">
                            {% bs_icon "life-preserver" %} {{ field_op.name }}
                        </a>
                    </td>
                    <td class="col-auto">{{ object.get_assistance_type_display }}</td>
                    <td class="col-auto text-center">{{ object.group_size }}</td>
                </tr>
                <tr>
                    <tr><th colspan="4">Descripton</th></tr>
                    <td colspan="4">
                        {{ object.assistance_description }}
                    </td>
                </tr>
            </table>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-data border border-3 border-info w-auto caption-top mb-1">
                <caption>Contact Information</caption>
                <tr>
                    <th class="col col-auto">Requestor Name</th>
                    <th class="col col-auto">Requestor Phone</th>
                    <th class="col col-auto">Requestor Email</th>
                </tr>
                <tr>
                    <td class="col col-auto">{{ object.requestor_first_name }} {{ object.requestor_last_name }}</td>
                    <td class="col col-auto">{{ object.requestor_phone }}</td>
                    <td class="col col-auto">{{ object.requestor_email }}</td>
                </tr>
                <tr>
                    <th class="col col-auto">Contact Name</th>
                    <th class="col col-auto">Contact Phone</th>
                    <th class="col col-auto">Contact Email</th>
                </tr>
                <tr>
                    <td class="col col-auto">{{ object.assistance_first_name|default:"None" }} {{ object.assistance_last_name }}</td>
                    <td class="col col-auto">{{ object.assistance_phone|default:"None" }}</td>
                    <td class="col col-auto">{{ object.assistance_email|default:"None" }}</td>
                </tr>
                <tr>
                    <td colspan="3">
                        <strong>Methods</strong>:<br>{{ object.contact_methods }}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<hr>
<table class="table table-bordered w-auto caption-top">
    <caption>Requested Address</caption>
    <tr>
        <th class="col-auto">Address</th>
        <th class="col-auto">Location</th>
    </tr>
    <tr>
        <td class="col-auto">
            {{ object.street_address }}<br>
            {{ object.city }}, {{ object.state }} {{ object.zip_code }}<br>
            {{ object.country }}
        </td>
        <td class="col-auto">
            Location
        </td>
    </tr>
</table>

<hr>
<table class="table table-bordered table-data w-auto caption-top w-auto border border-3 border-warning font-monospace">
    <caption>Address Geocoder</caption>
    <tr>
        <th class="col-auto">Address Provided</th>
        <th class="col-auto">Geocode Result</th>
    </tr>
    <tr>
        <td class="col-auto">
            {{ aid_request.street_address }}<br>
            {{ aid_request.city }}, {{ aid_request.state }} {{ aid_request.zip_code }}
            <hr>
            <a href="{% url 'aidrequest_geocode' pk=aid_request.pk field_op=field_op.slug %}?action=search" class="btn btn-info btn-sm m-1 p-1">
                {% bs_icon "search" %} Search
            </a>
            <a href="{% url 'aidrequest_geocode' pk=aid_request.pk field_op=field_op.slug %}?action=geocode" class="btn btn-outline-primary btn-sm m-1 p-1">
                {% bs_icon "globe2" color="blue" %} Geocodes
            </a>
        </td>
        <td class="col-auto">
            {% crispy geocode_form %}
        </td>

    </tr>
</table>
<div class="container">
    <table class="table table-sm table-data table-info table-striped align-middle">
        <thead>
            <tr>
                <th scope="col-auto">Source</th>
                <th scope="col-auto">Status</th>
                <th scope="col-auto">Latitude,Longitude</th>
                <th scope="col-auto">Note</th>
                <th scope="col"><div class="d-flex justify-content-end">Actions</div></th>
            </tr>
        </thead>
        <tbody>
            {% for location in locations %}
            <tr>
                <td>
                    {{ location.source }}
                </td>
                <td>
                    {{ location.status }}
                </td>
                <td>
                    {{ location.latitude }},{{ location.longitude }}
                </td>
                <td>
                    {{ location.note }}
                </td>
                <td>
                    Delete, View
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


<hr>
<h2>Emergency Medical Needs</h2>
<p>{{ object.medical_needs|default:"None" }}</p>

<h2>Supplies Needed</h2>
<p>{{ object.supplies_needed|default:"None" }}</p>

<h2>Welfare Check Information</h2>
<p>{{ object.welfare_check_info|default:"None" }}</p>

<h2>Additional Information</h2>
<p>{{ object.additional_info|default:"None" }}</p>

{% endblock %}
