{% extends "base.html" %}
{% load bootstrap_icons %}
{% load crispy_forms_tags %}

{% block content %}
<h2>Aid Request Details</h2>
<hr>
<div class="container font-monospace mt-1">
    <div class="d-flex flex-column flex-lg-row">
        <div class="table-responsive">
            <table class="table table-bordered table-data w-auto caption-top me-2 border border-3 border-success">
                <caption>Aid Summary</caption>
                <tr>
                    <th class="col-auto">ID</th>
                    <th class="col-auto">Field Op</th>
                    <th class="col-auto">Aid Type</th>
                    <th class="col-auto">Group Size</th>
                </tr>
                <tr>
                    <td class="col-auto">
                        <a href="{% url 'aidrequest_update' pk=aidrequest.pk field_op=field_op.slug %}" class="btn btn-warning btn-sm mx-1 p-1">
                            {% bs_icon "pencil" %} {{ object.pk }}
                        </a>
                    </td>
                    <td class="col-auto">                     
                        <a href="{% url 'aidrequest_list' field_op=field_op.slug %}" class="btn btn-outline-info btn-sm mx-1 p-1">
                            {% bs_icon "truck" %} {{ field_op.name }}
                        </a>
                    </td>
                    <td class="col-auto">{{ object.get_assistance_type_display }}</td>
                    <td class="col-auto text-center">{{ object.group_size }}</td>
                </tr>
                <tr>
                    <tr><th colspan="4">Descripton</th></tr>
                    <td colspan="4">
                        {{ object.assistance_description }}
                    </td>
                </tr>
            </table>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-data border border-3 border-info w-auto caption-top mb-1">
                <caption>Contact Information</caption>
                <tr>
                    <th class="col col-auto">Requestor Name</th>
                    <th class="col col-auto">Requestor Phone</th>
                    <th class="col col-auto">Requestor Email</th>
                </tr>
                <tr>
                    <td class="col col-auto">{{ object.requestor_first_name }} {{ object.requestor_last_name }}</td>
                    <td class="col col-auto">{{ object.requestor_phone }}</td>
                    <td class="col col-auto">{{ object.requestor_email }}</td>
                </tr>
                <tr>
                    <th class="col col-auto">Contact Name</th>
                    <th class="col col-auto">Contact Phone</th>
                    <th class="col col-auto">Contact Email</th>
                </tr>
                <tr>
                    <td class="col col-auto">{{ object.assistance_first_name|default:"None" }} {{ object.assistance_last_name }}</td>
                    <td class="col col-auto">{{ object.assistance_phone|default:"None" }}</td>
                    <td class="col col-auto">{{ object.assistance_email|default:"None" }}</td>
                </tr>
                <tr>
                    <td colspan="3">
                        <strong>Methods</strong>:<br>{{ object.contact_methods }}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<hr>
<table class="table table-bordered table-data w-auto caption-top w-auto border border-3 border-warning font-monospace">
    <caption>Aid Location</caption>
    <tr>
        <th class="col-auto">Address Provided</th>
        {% if not location_confirmed %}
            <th class="col-auto">Geocoder</th>
        {% endif %}
    </tr>
    <tr>
        <td class="col-auto">
            {{ object.street_address }}<br>
            {{ object.city }}, {{ object.state }} {{ object.zip_code }}
            <hr>
            Status:<br>
            {% if location_confirmed %}
                <span class="text-success">{% bs_icon "check" %}Confirmed</span>
            {% else %}
                <span class="text-danger">Not Confirmed</span>
            {% endif %}
        </td>
        {% if not location_confirmed %}
            <td>
                {% if geocode_form %}
                    {% crispy geocode_form %}
                {% endif %}
            </td>
        {% endif %}
    </tr>
</table>
<div class="container font-monospace">
    <table class="table table-sm table-data table-success table-striped">
        <thead>
            <tr>
                <th scope="col-auto">Location</th>
                <th scope="col-auto">Note</th>
            </tr>
        </thead>
        <tbody>
            {% for location in locations %}
            <tr>
                <td>
                    {{ location.latitude }},{{ location.longitude }}
                    <a href="href="https://google.com/maps/place/{{ location.latitude }},{{ location.longitude }}/@{{ location.latitude }},{{ location.longitude }},13z"" target="_blank" class="btn btn-outline-success btn-sm">
                        {% bs_icon "globe2" %}
                    </a><br>
                    Status: {{ location.status }}<br>
                    Source: {{ location.source }}
                    <a href="{% url 'aid_location_delete' field_op=field_op.slug aid_request=object.pk pk=location.pk  %}" class="btn btn-danger btn-sm">
                        {% bs_icon "trash" %}
                    </a>
                </td>
                <td>
                    <pre>{{ location.note }}</pre>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<hr>
<h2>Emergency Medical Needs</h2>
<p>{{ object.medical_needs|default:"None" }}</p>

<h2>Supplies Needed</h2>
<p>{{ object.supplies_needed|default:"None" }}</p>

<h2>Welfare Check Information</h2>
<p>{{ object.welfare_check_info|default:"None" }}</p>

<h2>Additional Information</h2>
<p>{{ object.additional_info|default:"None" }}</p>

{% endblock %}
