{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
    <h2 class="mb-3">Aid Requests: {{ field_op.name }}</h2>
    
    <table class="table table-sm table-striped align-middle">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Type</th>
                <th scope="col">Requester</th>
                <th scope="col">Address</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for aidrequest in object_list %}
            <tr>
                <td><a href="{% url 'aidrequest_detail' pk=aidrequest.pk field_op=field_op.slug %}">{{ aidrequest.pk }}</a></td>
                <td>{{ aidrequest.assistance_type }}</a></td>
                <td>{{ aidrequest.requestor_first_name }} {{ aidrequest.requestor_last_name }}</a></td>
                <td>{{ aidrequest.street_address }} {{ aidrequest.street_address }} {{ aidrequest.state }}</a></td>
                <td>
                    <a href="{% url 'aidrequest_update' pk=aidrequest.pk field_op=field_op.slug %}" class="btn btn-outline-secondary btn-sm">Edit</a>
                    <a href="{% url 'aidrequest_delete' pk=aidrequest.pk field_op=field_op.slug %}" class="btn btn-outline-danger btn-sm">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<hr>
<a href="{% url 'aidrequest_create' field_op=field_op.slug %}" class="btn btn-success">
    <i class="bi bi-plus-circle"></i> New Aid Request
</a>
<a href="{% url 'aidrequests_csv' field_op=field_op.slug %}" class="btn btn-primary">Download CSV</a>

{% endblock %}
