{% extends "base.html" %}
{% load bootstrap_icons %}

{% block content %}
    <h2>Field Op</h2>

    <p>Name: {{ object.name }}</p>
    <p>Slug: {{ object.slug }}</p>

    <h2>Location</h2>
    <div class="d-flex">
        <div class="px-4">
            <strong>Geolocation:</strong>
            <br>
            {{ object.latitude }},{{ object.longitude }}
        </div>
        <div class="d-flex align-items-center">
            <a href="https://google.com/maps/@{{ object.latitude }},{{ object.longitude }},13z" target="_blank" class="btn btn-primary btn-sm">
            {% bs_icon "geo-alt" %} Google Maps
            </a>
        </div>
    </div>
    <hr>
    <div class="d-flex justify-content-between">
        <div class="d-flex">
            <div class="m-0 p-0">
                <a href="{% url 'field_op_list' %}" class="btn btn-info btn-sm mx-1 p-1">
                    {% bs_icon "list" %} List
                </a>
            </div>
            <div class="m-0 p-0">
                <a href="{% url 'field_op_update' pk=object.pk %}" class="btn btn-warning btn-sm mx-1 p-1">
                        {% bs_icon "pencil" %} Edit
                </a>
            </div>
        </div>
        <a href="{% url 'field_op_delete' pk=object.pk %}" class="btn btn-danger btn-sm mx-1 p-1">
            {% bs_icon "trash" %} Delete
        </a>
    </div>
{% endblock %}
