{% extends "base.html" %}
{% load bootstrap_icons %}

{% block content %}
    <h1>Confirm Deletion</h1>
    <p>Are you sure you want to delete this Field Op?</p>

    <h2>{{ object }}</h2>

    <form method="post">
        {% csrf_token %}
        <a href="#" onclick="this.closest('form').submit(); return false;" style="color: white; text-decoration: none;" class="btn btn-danger">Yes, delete</a>
        <a href="{% url 'field_op_list' %}" class="btn btn-secondary">
            <i class="bi bi-x-circle"></i> List
                Cancel
        </a>
    </form>
<hr>
<h2>Field Op</h2>

<p>Name: {{ object.name }}</p>
<p>Slug: {{ object.slug }}</p>

<h2>Location</h2>
<p>GPS Center:</p>
<ul>
    <li>Latitude: {{ object.latitude }}</li>
    <li>Longitude: {{ object.longitude }}</li>
</ul>


{% endblock %}
