{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load bootstrap_icons %}

{% block content %}
<div class="container m-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        {% if form.action == "create" %}
            <div class='form-header'>
                <h2>Field Op</h2>
            </div>
        {% else %}
            <div class="form-header">
                <h2>Update Field Op</h2>
            </div>
        {% endif %}
        <div>
            <a href="{{ request.GET.next|default:'/field-ops/' }}" class="btn btn-outline-info btn-sm">
                <i class="bi bi-x-circle"></i> Cancel
            </a>
        </div>
    </div>

    <div>Each "Field Op" is a distinct call to support (response) for a region.</div>
    <span>
        <em>
        This form should be used to create and update Field Ops.<br>
        Note, some settings (TAK Server, Notifies) are set in the /admin pages.
        </em>
    </span>
    <hr>
    <p>
        Each "Field Op" will get a unique short name (aka slug), i.e.
        <strong>
        <ul>
            <li>nc2024: North Carolina - 2024 - Hurricane Helene</li>
            <li>milton2024: Hurricane Milton - Florida 2024</li>
        </ul>
        </strong>
    </p>
    <form method="post" novalidate>
        {% csrf_token %}
        {% crispy form %}
    </form>
</div>
{% endblock %}
