{% extends "base.html" %}
{% load bootstrap_icons %}

{% block content %}
<div class="row mt-1 align-items-center">
    <div class="col">
        <h2>Field Op - Details</h2>
    </div>
    <div class="col-auto font-monospace bg-info-subtle m-0 p-0">
        <table class="table border border-1 m-0 p-0 " style="font-size: 0.75rem;">
            <tr>
                <td class="border border-info bg-transparent m-0 px-1 py-0">
                    created:
                    {{ object.created_at|date:"Y-m-d H:i" }}
                    ({{ object.created_by }})
                </td>
                <td class="border border-info bg-transparent m-0 px-1 py-0">
                    updated:
                    {{ object.updated_at|date:"Y-m-d H:i" }}
                    ({{ object.updated_by }})
                </td>
            </tr>
        </table>
    </div>
</div>
<hr class="m-0" />
<div class="d-flex mb-3">
    <div class="mx-4">
        <strong>Name:</strong> <span class="fs-4 text-danger">{{ object.name }}</span>
    </div>
    <div>
        <strong>Slug:</strong> <span class="text-secondary">{{ object.slug }}</span>
    </div>
</div>

<div class="d-flex">
    <div class="px-4">
        <strong>Geolocation:</strong>
        <br>
        {{ object.latitude }},{{ object.longitude }}
    </div>
    <div class="d-flex align-items-center">
        <a href="{% url 'field_op_update' pk=object.pk %}" class="btn btn-warning btn-sm mx-1 p-1">
            {% bs_icon "pencil" %} Edit
        </a>
        <!-- <a href="https://google.com/maps/{{ object.latitude }},{{ object.longitude }}/@{{ object.latitude }},{{ object.longitude }},13z" target="_blank" class="btn btn-primary btn-sm">
        {% bs_icon "geo-alt" %} Google Maps
        </a> -->
    </div>
</div>
<hr>
<div class="mt-3">
    <h3>Notify Destinations</h3>
    <table class="table table-border table-success font-monospace border border-1 m-0 p-0 w-auto">
        <caption>Note: sms not yet implemented</caption>
        <thead>
            <tr>
            <th class="col-auto border border-success">Name</th>
            <th class="col-auto border border-success">Type</th>
            <th class="col-auto border border-success">Address</th>
            </tr>
        </thead>
        <tbody>
        {% for notify in notifies_email %}
            <tr class="text-primary">
                <td class="col-auto border border-success">{{ notify.name }}</td>
                <td class="col-auto border border-success">{{ notify.type }}</td>
                <td class="col-auto border border-success">{{ notify.email|default_if_none:"" }}</td>
            </tr>
        {% endfor %}
        {% for notify in notifies_sms %}
        <tr class="text-muted" style="font-size: 0.75rem;">
            <td class="col-auto border bg-light text-muted">{{ notify.name }}</td>
            <td class="col-auto border bg-light text-muted">{{ notify.type }}</td>
            <td class="col-auto border bg-light text-muted">{{ notify.sms_number|default_if_none:"" }}</td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
</div>
<hr>
<div class="d-flex">
    <a href="{% url 'field_op_list' %}" class="btn btn-outline-info mx-2">
        {% bs_icon "truck" %} {% bs_icon "truck" %} Field Op List
    </a>
    <a href="{% url 'aid_request_list' field_op=object.slug %}" class="btn btn-outline-success mx-2">
        {% bs_icon "life-preserver" %} Aid Request List ({{ aid_request_count }})
    </a>
</div>

{% endblock %}
