{% extends "base.html" %}
{% load static %}
{% load bootstrap_icons %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-3">All Field Ops</h2>

    <table class="table table-sm table-striped align-middle">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Slug</th>
                <th scope="col">Aid Requests</th>
                <th scope="col">Lat,Long</th>
                <th scope="col"><div class="d-flex justify-content-end">Actions</div></th>
            </tr>
        </thead>
        <tbody>
            {% for field_op in object_list %}
            <tr>
                <td>
                    <a href="{% url 'field_op_detail' pk=field_op.pk %}" class="btn btn-outline-primary btn-sm">
                        <i class="bi bi-truck"></i>
                        {{ field_op }}
                    </a>
                </td>
                <td>{{ field_op.slug }}</td>
                <td>
                    <a href="{% url 'aid_request_list' field_op=field_op.slug %}" class="btn btn-outline-info btn-sm text-dark">
                        <i class="bi bi-life-preserver text-danger"></i>
                        {{ field_op.aid_request_count }}
                    </a>
                </td>
                <td>{{ field_op.latitude }},{{ field_op.longitude }}</td>
                <td>
                    <div class="d-flex justify-content-end">
                        <a href="{% url 'field_op_update' field_op.pk %}" class="btn btn-warning btn-sm me-2">
                            <i class="bi bi-pencil"></i>
                        </a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr>
    <a href="{% url 'field_op_create' %}" class="btn btn-primary btn-sm mb-3">
        <i class="bi bi-plus-circle"></i> New Field Op <i class="bi bi-truck"></i>
    </a>
    <a href="{% url 'field_op_map' %}" class="btn btn-outline-success btn-sm mb-3">
        <i class="bi bi-globe2 text-success"></i> Map It
    </a>
</div>
<div>
    {% if map %}
        <img src="{{ map }}" alt="Field Operations Map" class="img-fluid">
    {% endif %}
</div>
{% endblock %}
