{% extends "base.html" %}

{% block content %}
    <h2>Region Response</h2>

    <p>Name: {{ object.name }}</p>
    <p>Slug: {{ object.slug }}</p>

    <h2>Location</h2>
    <p>GPS Center:</p>
    <ul>
        <li>Latitude: {{ object.latitude }}</li>
        <li>Longitude: {{ object.logitude }}</li>
    </ul>

    <a href="{% url 'regionresponse_update' object.pk %}">Edit</a>
    <a href="{% url 'regionresponse_delete' object.pk %}">Delete</a>
    <a href="{% url 'regionresponse_list' %}">Back to List</a>
{% endblock %}
