{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container mt-4">
    <h2 class="mb-3">All Region Responses</h2>
    <a href="{% url 'regionresponse_create' %}" class="btn btn-primary btn-sm mb-3">Create New Request</a>
    
    <table class="table table-sm table-striped align-middle">
        <thead>
            <tr>
                <th scope="col">Response Name</th>
                <th scope="col">Aid Requests</th>
                <th scope="col">Slug</th>
                <th scope="col">Lat,Long</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for regionresponse in object_list %}
            <tr>
                <td><a href="{% url 'regionresponse_detail' regionresponse.pk %}">{{ regionresponse }}</a></td>
                <td><a href="{% url 'aidrequest_list' regionresponse=regionresponse.slug %}">
                    {{ regionresponse.aidrequest_count }}
                    </a>
                </td>
                <td>{{ regionresponse.slug }}</td>
                <td>{{ regionresponse.latitude }},{{ regionresponse.longitude }}</td>
                <td>
                    <a href="{% url 'regionresponse_update' regionresponse.pk %}" class="btn btn-outline-secondary btn-sm">Edit</a>
                    <a href="{% url 'regionresponse_delete' regionresponse.pk %}" class="btn btn-outline-danger btn-sm">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
