.no-asterisk .asteriskField {
    display: none;
}

.is-required.is-invalid {
    box-shadow: 0 0 .25rem .1rem rgba(220, 53, 69, 0.25) !important;
    border-color: #dc3545 !important;
}
#form-c-container .form-control,
#form-c-container .form-select {
    border-color: #888;
}
input.is-invalid ~ .form-text {
    color: #dc3545 !important;
}
.form-step {
    transition: opacity 0.3s ease-in-out;
}
.progress-dots {
    gap: 15px; /* space between dots */
}

.progress-dots .dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #adb5bd; /* Dim/inactive gray */
    transition: all 0.3s ease;
}

.progress-dots .dot.completed {
    background-color: #198754; /* Green */
}

.progress-dots .dot.active {
    background-color: #0d6efd; /* Blue */
    transform: scale(1.5);
}

#div_id_aid_type .form-check-label {
    color: #212529; /* Bootstrap's default body color */
    opacity: 1.0;
}

#div_id_aid_type .form-check-input {
    border-color: #888;
    border-width: 2px;
}

#form-c-container .card {
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
    box-shadow: none !important;
}

#form-c-container .card-body {
    padding: 0 !important;
}
