:root {
    --pin-color: red;
    --pin-background: LemonChiffon;
}


input.tableedit,
select.tableedit {
    font-size: 0.875em;
    border-color: cadetblue;
    border-radius: 0;
}

input.tableeditsm,
select.tableeditsm {
    font-size: 0.75em;
    border-color: cadetblue;
    border-radius: 0;
}

div.updated {
    /* color: red; */
    border-color: crimson;
    border-style: solid;
}
button.tableedit {
    margin: 0 !important;
    padding: 0 !important;
}

/* Fun with Azure Maps - from internet sample */
/* now with css variables */
.pin {
    width: 30px;
    height: 30px;
    border-radius: 50% 50% 50% 0;
    background: var(--pin-color);
    position: absolute;
    transform: rotate(-45deg);
    left: 50%;
    top: 50%;
    margin: -20px 0 0 -20px;
}

    .pin:after {
        content: "";
        width: 14px;
        height: 14px;
        margin: 8px 0 0 8px;
        background: var(--pin-background);
        position: absolute;
        border-radius: 35%;
    }

.bounce {
    animation-name: bounce;
    animation-fill-mode: both;
    animation-duration: 3s;
}

.pulse {
    background: var(--pin-background);
    border-radius: 50%;
    height: 14px;
    width: 14px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: 11px 0px 0px -12px;
    transform: rotateX(55deg);
    z-index: -2;
}

    .pulse:after {
        content: "";
        border-radius: 50%;
        height: 40px;
        width: 40px;
        position: absolute;
        margin: -13px 0 0 -13px;
        animation: pulsate 1s ease-out;
        animation-iteration-count: infinite;
        opacity: 0;
        box-shadow: 0 0 1px 2px var(--pin-color);
        animation-delay: 1.1s;
    }

@keyframes pulsate {
    0% {
        transform: scale(0.1, 0.1);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: scale(1.2, 1.2);
        opacity: 0;
    }
}

@keyframes bounce {
    0% {
        opacity: 0;
        transform: translateY(-2000px) rotate(-45deg);
    }

    60% {
        opacity: 1;
        transform: translateY(30px) rotate(-45deg);
    }

    80% {
        transform: translateY(-10px) rotate(-45deg);
    }

    100% {
        transform: translateY(0) rotate(-45deg);
    }
}

.fieldop-popup {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    color: #333;
    background-color: #f9f9f9;
    border: 2px solid #4CAF50;
    border-radius: 4px;
    padding: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}