{% load bootstrap_icons %}
<div class="card m-1">
    <div class="card-header m-0 p-1 d-flex justify-content-between align-items-center">
        <h5 class="mb-0">Aid Locations</h5>
        {% if not hide_add_location_button %}
        <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#addLocationModal" title="Add New Location">
            {% bs_icon 'geo-alt' %} {% bs_icon 'plus-circle' %}
        </button>
        {% endif %}
    </div>
    <div class="card-body m-0 p-0">
        <div class="list-group list-group-flush">
            {% if locations %}
                {% for location in locations %}
                    {% include 'aidrequests/partials/_aid_location_card.html' %}
                {% endfor %}
            {% else %}
                <div class="list-group-item" id="no-locations-message">
                    <p class="text-muted mb-0">No locations have been added yet.</p>
                </div>
            {% endif %}
        </div>
    </div>
</div>
